.bar-loader {
	width: 7rem;
	height: 1rem;
	background: repeating-linear-gradient(-45deg, var(--primary-brand-color) 0 15px,#0000 0 20px) left/200% 100%;
	animation: l3 2s infinite linear;

	&.destructive {
		background: repeating-linear-gradient(-45deg, white 0 15px,#0000 0 20px) left/200% 100%;
	}
}
@keyframes l3 {
	100% {background-position: right}
}

.event-status-loader {
	flex: 1;
    height: 1rem;
    --c: #ffffff 0 15px, transparent 0 20px;
    background: 
        repeating-linear-gradient(135deg, var(--c)) left top,
        repeating-linear-gradient(45deg, var(--c)) left bottom;
    background-size: 200% 50%;
    background-repeat: no-repeat;
    animation: l4 2s infinite linear;
}

@keyframes l4 {
    100% {
        background-position: right top, right bottom;
    }
}

.spinner-loader {
	width: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
	position: relative;
	border: 8px solid #0000;
	border-right-color: white;
	animation: l24 1s infinite linear;
}
.spinner-loader:before,
.spinner-loader:after {
	content: "";
	position: absolute;
	inset: -8px;
	border-radius: 50%;
	border: inherit;
	animation: inherit;
	animation-duration: 2s;
}
.spinner-loader:after {
	animation-duration: 4s;
}
@keyframes l24 {
	100% {transform: rotate(1turn)}
}

.dots-loader {
	width: 60px;
	height: 20px;
	position: relative;
	background-image: 
	  radial-gradient(circle closest-side, #fff 90%, transparent),
	  radial-gradient(circle closest-side, #fff 90%, transparent),
	  radial-gradient(circle closest-side, #fff 90%, transparent);
	background-repeat: no-repeat;
	background-position: 0% 50%, 50% 50%, 100% 50%;
	background-size: calc(100%/3) 50%;
	animation: dotsLoad 1s infinite linear;
}
  
@keyframes dotsLoad {
	20% {
		background-position: 0% 0%, 50% 50%, 100% 50%;
	}
	40% {
		background-position: 0% 100%, 50% 0%, 100% 50%;
	}
	60% {
		background-position: 0% 50%, 50% 100%, 100% 0%;
	}
	80% {
		background-position: 0% 50%, 50% 50%, 100% 100%;
	}
	100% {
		background-position: 0% 50%, 50% 50%, 100% 50%;
	}
}