@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../../public/fonts/Roboto/Roboto-Thin.ttf') format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../public/fonts/Roboto/Roboto-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../public/fonts/Roboto/Roboto-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../public/fonts/Roboto/Roboto-Bold.ttf') format("truetype");
}

@font-face {
	font-family: 'Archivo';
	src: url('@/public/fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf') format('truetype-variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}
  
@font-face {
	font-family: 'Archivo';
	src: url('@/public/fonts/Archivo/Archivo-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('@/public/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}
  
@font-face {
	font-family: 'Inter';
	src: url('@/public/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

:root {
	color-scheme: light dark;

	--primary-brand-color: #262E57;
	--secondary-brand-color: #C32B42;
	--tertiary-brand-color: #F7A007;
	--quaternary-brand-color: #A5E9E8;

	--primary-background-color: #FFFFFF;
	--secondary-background-color: #F4F4F7;
	--tertiary-background-color: #FFFFFF;

	--primary-label-color: #000000;

	--button-border-radius: 10px;
	--dialog-max-width: 35rem;

	--destructive-button-color: #8c1d1d;

	--olympsis-red: #D50020;
	--olympsis-gray: #767676;
	--olympsis-light-gray: #E9E9EE;
	--olympsis-green: #298C6E;

	--border-radius: 10px;
	--card-border-radius: 10px;
	--button-border-radius: 10px;
	--icon-border-color: rgb(0, 0, 0, 0.1);

	--desktop-max-width: 58rem;

	--navigation-label: #262E57;
	--navigation-border: rgba(0, 0, 0, 0.15);
	--component-border:  rgba(0, 0, 0, 0.20);

	--home-icon: url('@/assets/icons/home/home.svg');
    --home-icon-selected: url('@/assets/icons/home/home.fill.svg');
    
    --group-icon: url('@/assets/icons/group/group.svg');
    --group-icon-selected: url('@/assets/icons/group/group.fill.svg');
    
    --events-icon: url('@/assets/icons/calendar/calendar.svg');
    --events-icon-selected: url('@/assets/icons/calendar/calendar.fill.svg');
    
    --chats-icon: url('@/assets/icons/bubble2/bubble.2.svg');
    --chats-icon-selected: url('@/assets/icons/bubble2/bubble.2.fill.svg');

	dialog[open] {
		display: flex;
		align-items: center;
		justify-content: center;
	}

  	scroll-behavior: smooth;
}

@media(prefers-color-scheme: dark) {
	:root {
		--primary-background-color: #1E1E1E;
		--secondary-background-color: #2D2D2D;
		--tertiary-background-color: #383838;

		--primary-label-color: #FFFFFF;

		--navigation-label: #FFFFFF;
		--navigation-border: rgba(255, 255, 255, 0.15);
		--icon-border-color: rgb(255, 255, 255, 0.1);

		--component-border:  rgba(255, 255, 255, 0.20);

		--home-icon: url('@/assets/icons/home/home.white.svg');
		--home-icon-selected: url('@/assets/icons/home/home.fill.white.svg');

		--group-icon: url('@/assets/icons/group/group.white.svg');
		--group-icon-selected: url('@/assets/icons/group/group.fill.white.svg');

		--events-icon: url('@/assets/icons/calendar/calendar.white.svg');
		--events-icon-selected: url('@/assets/icons/calendar/calendar.fill.white.svg');

		--chats-icon: url('@/assets/icons/bubble2/bubble.2.white.svg');
		--chats-icon-selected: url('@/assets/icons/bubble2/bubble.2.fill.white.svg');
		
	}
}

*,
*::before,
*::after {
  	margin: 0;
}

html,
body {
	margin: 0;
    padding: 0;
    overflow: hidden;
	max-height: 100vh;
    max-height: 100dvh;
	font-family: 'Inter', 'Helvetica Nue', sans-serif;
}

h1 {
	font-family: 'Archivo', 'Helvetica Nue', 'Arial';
}

* {
  	box-sizing: border-box;
}

a:any-link {
  	text-decoration-line: none;
}

a:any-link:active {
  	cursor: auto;
}

.skeleton {
  	animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-secondary {
  	animation: skeleton-secondary-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
	0% {
		background-color: var(--tertiary-background-color);
	}
	100% {
		background-color: var(--secondary-background-color);
	}
}

.button {
	all: unset;
    cursor: pointer;
    padding: 0.5rem;
    height: fit-content;
    border-radius: 10px;
	border: var(--component-border) solid 1px;
    background-color: var(--secondary-background-color);

    &:hover {
        transform: scale(1.1);

		&:disabled {
			transform: unset;
		}
    }

	&:disabled {
		background-color: var(--olympsis-gray) !important;
	}

	picture {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}